.containerBook{
  display: flex;
  justify-content: center;
  text-align: center;
}
.h2{
  color: goldenrod;

}
.message{
  border: solid 1px lightblue;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 10px 10px 5px lightblue;
  border-radius: 15px;
  font-size: 25px;
  margin: 1rem;
  padding: 4rem;
  justify-content: left;
  text-align: left;
}
.return{
  display: flex;
  justify-content: center;
  text-align: center;
}
.btnHome{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 2rem 5rem;
  padding: 2rem 1rem 0 0;
  height: 3rem;
  width: 5rem;
}
.image{
  filter: invert(0.5);
}