.mainDiv {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.secondDiv {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imageSU{
  scale: 2.2;
  margin-bottom: 2vh;
  filter: invert(0.5);
}