.containerForm{
    padding: 2rem;
}
.columns{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    width: 100%;
    height: 100%;
    padding: 2rem;
}
///////// Left Column /////////
.colLeft{
    justify-content: left;
    text-align: left;
}
.origin{
    display: flex;
    margin: 2rem 1rem;
}
.title{
    font-size: 4vh;
    justify-content: left;
    text-align: left;
    font-weight: bold;
    margin-right: 3rem;
}
.divSelect{
    display: flex;
    justify-content: center;
    text-align: center;
}
.destination{
    display: flex;
    margin: 2rem 1rem;
}
///////// Right Columns /////////
.colRight{
    display: flex;
    justify-content: left;
    text-align: left;
    z-index: 0;
}
.hidden{
    visibility: hidden;
}
.oneTwo{
    display: flex;
    margin: 2rem 1rem;
}
.plane{
    position: fixed;
    bottom: 35vh;
    right: 26vw;
    scale: 2;
}
.btnDiv{
    display: flex;
    justify-content: left;
    text-align: left;
    padding: 7rem 0 0 3vw;
}
.btn{
    width: 10rem;
    height: 3rem;
    background-color: rgb(96, 96, 255);
    color:white;
    box-shadow: -10px 10px 5px lightblue;
    border-radius: 15px;
    margin-left: 4rem;
    font-size: 25px;
    font-weight: bold;
}